* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px;
  position: relative;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  padding: 20px;
  
}
  
.main div {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  max-width: 500px;
}
  
.main div p {
  font-size: 1.5em;
  /* color: #C7C7C7; */
  color: #FFF;
}
  

.top-bar {
  height: 35px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  top: 0;
}

.bottom-bar {
  height: 35px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  bottom: 0;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #FFF;
  text-decoration: none;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header nav ul li:not(:last-child) {
  padding-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #FFF;

}


@media screen and (min-width: 768px) {
  header nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;  
      margin-top: 30px;
  }
  
}
